! COLORS
#include ".xres/themes/breeze-dark"

! Xft Settings
Xft.autohint: 0
Xft.antialias: 1
Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! URXVT
URxvt.font: xft:Ubuntu Mono:pixelsize=16,style=regular
URxvt.letterSpace: true
URxvt.internalBorder: 10
URxvt.externalBorder: 0
URxvt.depth: 32
URxvt*visualBell: false
URxvt*terminalName: rxvt-unicode-256color

URxvt.scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

*.saveLines: 8192
*.internalBorder: 10
*.cursorBlink: true
*.dynamicColors:on

