! COLORS
#include ".xres/themes/breeze-dark"

! Xft Settings
Xft.autohint: 0
Xft.antialias: true
Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! URXVT
URxvt.font: xft:DejaVu Sans Mono for Powerline:size=10,style=regular
URxvt.letterSpace: -1
URxvt.externalBorder: 10
URxvt.depth: 32
URxvt*visualBell: false
URxvt*terminalName: rxvt-unicode-256color

URxvt.scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*scrollTtyKeypress: true

URxvt*buffered: true

! Perl Extensions
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,matcher,clipboard,resize-font

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! Clickable URLS
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

*.saveLines: 8192
*.internalBorder: 0
*.cursorBlink: true
*.dynamicColors:on
